<div class="container">


     <%= form_for @article do |f| %>
     <div class="form-group">
      <%= f.label :title %>:
      <%= f.text_field :title,class:"form-control",placeholder:"Enter title",autofocus: 'true',autocomplete: 'off' %><br>
      </div>
      <div class="form-group">
      <%= f.label :description %>:
      <%= f.text_area :description,class:"form-control" ,placeholder:"Enter description",rows:'5' %><br>
      </div>
      <%= f.submit "Save",class:"btn btn-primary",type:"submit"%>
     <% end %>

</div>
