<div align="center" class = "container">
  <% @article.each do |article| %>
    <div align="center" class="container main_container">
      <%= article.title %><br>
      <%= article.description %><br>
      <div class="about_creator">
        <small>Created by: <%= article.user.username %> |
               Created : <%= time_ago_in_words(article.created_at) %> ago |
               Updated : <%= time_ago_in_words(article.updated_at) %> ago
        </small>
      </div>
      <div class="container" id="buttons">
        <%= link_to "Edit", edit_article_path(article) , class:"btn btn-primary"%>
        <%= link_to "show", article_path(article) ,class:"btn btn-success"%>
        <%= link_to "Delete", article_path(article), method: :delete, data: {confirm: "Are you sure?"} ,class:"btn btn-danger"%>
      </div>
    </div>
    <% end %><br><br>
       <%= will_paginate(@article, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
       <%= link_to "Back to Home", root_path ,class:"btn btn-secondary"%>
</div>
