<h2 align="center">Edit Account</h2>
  <div class="container" id="errors">
   <% @user.errors.full_messages.each do |msg| %>
     <ul>
       <li><%= msg %></li>
     </ul>
   <% end %>
</div>

<div class="container signup">


     <%= form_for @user do |f| %>
     <div class="form-group">
      <%= f.label :username %>:
      <%= f.text_field :username,class:"form-control",placeholder:"Enter username",autofocus: 'true',autocomplete: 'off' %><br>
      </div>
      <div class="form-group">
      <%= f.label :email %>:
      <%= f.email_field :email,class:"form-control" ,placeholder:"Enter email" %><br>
      </div>
      <div class="form-group">
      <%= f.label :password %>:
      <%= f.password_field :password,class:"form-control" ,placeholder:"Enter password" %><br>
      </div>
      <%= f.submit "Update",class:"btn btn-primary",type:"submit"%> | <%= link_to "Back To home", root_path ,class:"btn btn-secondary"%>
     <% end %>



</div>
